<div class="container">
  <div class="welcome_text">
    <h1>Welcome Aboard</h1>
    <h3>Lets create some cool Charts and Todos</h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 pull-left">
    <%= link_to image_tag("todo2.png",class: "landing_todo_img"), todos_path %>
  </div>
  <div class="span6">
    <%= link_to image_tag("pie.png", class: "landing_pie_img"), sales_path %>
  </div>
</div>
