<div class="row">
  <h2>Sign Up</h2>
  <div class="span4 offset3">
    <% simple_form_for @user do |f|%>
      <% f.input :Name, autofocus: true %>
      <% f.input :Username, required: true %>
      <% f.input :Email, required: true %>
      <% f.input :Password, required: true %>
      <% f.input :"Confirm Password", required: true %>
  </div>
</div>
