<h2>Welcome to Cool-To-Do, <%= @user.email%></h2>
<p>
You have successfully signed up to Cool-To-Do.com,
your username is: <%= @user.email %>.<br/>
</p>
<p>
To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
