@import "bootstrap";
.navbar_text a{
  font-size: 15px;
  text-decoration: none;
  color: rgba(230, 229, 227, 0.98) gimportant;

  font-weight: bold;
  text-shadow: none !important;
}
.landing_page_body{
  background-color: #5780BE;
}
.todo_img{
  margin-top: 40px;
}
