//@import 'bootstrap';
.navbar_text{
  color: white;
  margin-right: 80px !important;
}
.welcome_text{
  text-align: center;
  margin-bottom: 30px;
}
.landing_pie_img{
  height: 235px;
  width: 93%;
}
.landing_todo_img{
  height: 235px;
  width: 93%;
}
body{
  background-color: #EAF1F1 !important;
}
input{
  height: 30px !important;
}
.btn{
  height:40% !important;
}
.row_space{
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar_brand{
  margin-left: 80px !important;
}
