<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
          <ul class="nav pull-right">
            <li><a href="#">Signin</a></li>
            <li><a href="#">Signup</a></li>
          </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
